WorkflowApp/Service References/SvcWorkflowMWF/SvcWorkflowMWF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mis.WcfLib.WorkFlow.WF.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mis.WcfLib.WorkFlow.WF.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Return_Model">
    <xs:sequence>
      <xs:element minOccurs="0" name="reference1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="retCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="retMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Return_Model" nillable="true" type="tns:Return_Model" />
</xs:schema>